.cardcontainer{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    gap: 30px;
}
.card img{
    width: 200px;
    height: 200px;
}
.card{
    width: 1300px;
    background-color: rgb(240, 213, 213);
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.card button{
    border: none;
    background-color: rgb(46, 46, 228);
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
}
.firstcard{
    padding-top: 380px;
    text-align: center;
    width: 25%;
    background-color: red;
}
h1{
    color: white;
    font-family: 'Courier New', Courier, monospace
}
h2{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.a{
    padding: 30px;
}
.card.p{
    flex-direction: column;
    display: block;
}