body{
    margin: 0px;
    padding: 0px;
}
.all{
    height: 100vh;
    background-color: rgba(228, 199, 199, 0.699);
    justify-content: space-between;
    display: flex;
}
.card img{
    width: 200px;
    height: 200px;
    padding-left: 30px;
}
.card{
    background-color: white;
    display: flex;
    height: 280px;
    width: 227%;
    margin-bottom: 2px;
    color: black;
    align-items: center;
    box-shadow: 1px 1px;
    justify-content: space-between;
}
.top{
    justify-content: space-between;
    padding-right: 30px;
    display: flex;
}
.card button{
    padding: 10px 60px;
}
.card p{
     padding-right: 30px;
}
.p p{
    padding: 2px;
}
.right{
    width: 25%;
    background-color: rgba(241, 216, 216, 0.699);
    padding: 30px;
    text-align: left;
    margin-top: 60px;
    justify-content: space-evenly
}
button{
    padding: 15px 140px;
    color: black;
    background-color: white;
    border: none;
}
.cob button{
    padding: 15px 175px;
    color: white;
    background-color: black;
}
input{
    width: 420px;
    height: 40px;
    color: black;
    background-color: white;
    border: none;
}
.right h1{
    font-size: 40px;
    padding-bottom: 40px;
}
.righttop{
    display: flex;
    justify-content: space-between;
}
.rightdown{
    display: flex;
    justify-content: space-between;
}
.right h2{
    padding-top: 40px;
    padding-bottom: 40px;
}