nav{
    justify-content: space-between;
    background-color: rgb(248, 247, 244);
    display: flex;
    height: 80px;
    align-items: center;
    box-shadow: rgba(0,0,0,0.1);
}
.navleft{
    display: flex;
}
.navright{
    padding: 20px;
}
.navleft h1{
    padding-right: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.navheading{
    display: flex;
}
.navheading h2{
    padding-right: 20px;
    font-size: 15px;
    text-decoration: underline;
    padding-top: 20px;
}
.navmiddle input{
    width: 300px;
}
body{
    padding: 0px;
    margin: 0px;
}
.topimg img{
    width: 95%;
    height: 50vh;
    align-items: center;
    padding-left: 50px;
    padding-top: 20px;
}
h3{
    padding-left: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.card img{
    height: 40vh;
    width: 190px;
    padding-top: 30px;
    padding-right: 50px;
}
.cardtop{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 50px;
}
.card{
    background-color: rgb(239, 242, 243);
    height: 60vh;
    padding-left: 50px;
    border-radius: 8px;
}
.card button{
    border: none;
    padding: 10px 85px;
    background-color: antiquewhite;
    border-radius: 8px;
}
footer{
    background-color: rgb(90, 72, 72);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}