<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><link rel="stylesheet" href="../css/accessories.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brands.min.css" integrity="sha512-58P9Hy7II0YeXLv+iFiLCv1rtLW47xmiRpC1oFafeKNShp8V5bKV/ciVtYqbk2YfxXQMt58DjNfkXFOn62xE+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div class="navleft">
        <h1>SHOPLANE</h1>

        <div class="navheading">
        <h2>CLOTHINGS</h2>
        <h2>ACCESORIES</h2>
        </div>
        </div>

        <div class="navmiddle">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text"id="search items"search items="search items"placeholder="search items">
        </div>

        <div class="navright">
        <a href="../html/cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="../html/userlogin.html"><i class="fa-solid fa-circle-user"></i></a>
        </div>
        
    </nav>

    <h3>Accessories for men and women</h3>

    <div class="cardtop">

        <div class="card">
            <img src="../assets/air buds.jpg" alt="">
            <p>TROOP AIRBUDS</p>
            <p>Rs.1299</p>
            <button class="button" onclick="addtocart('assets/air buds.jpg','TROOP AIRBUDS',1299)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/LIPSTIKC.webp" alt="">
            <p>ROSE FLAVOUR </p>
            <p>Rs.1599</p>
            <button class="button" onclick="addtocart('assets/LIPSTIKC.webp','ROSE FLAVOUR',1599)">add to cart</button>

        </div>

        <div class="card">
            <img src="../assets/band watch.png" alt="">
            <p>BAND WATCH</p>
            <p>Rs.999</p>
            <button>
                <span>add to cart</span>
            </button>
        </div>

        <div class="card">
            <img src="../assets/boom.webp" alt="">
            <p>BOOM HEADPHONE</p>
            <p>Rs.1999</p>
            <button class="button" onclick="addtocart('assets/boom.webp','BOOM HEADPHONE',1999)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/watch.webp" alt="">
            <p>METAL WATCH</p>
            <p>Rs.2999</p>
            <button class="button" onclick="addtocart('assets/watch.webp','METAL WATCH',2999)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/EDGE-Leather-Belt.avif" alt="">
            <p>LEATHER BELT</p>
            <p>Rs.1999</p>
            <button class="button" onclick="addtocart('assets/EDGE-Leather-Belt.avif','LEATHER BELT',1999)">add to cart</button>
        </div>
        

    </div>
    <div class="mid">
    <div class="card">
            <img src="../assets/Leather-Plain-Bi-Fold-Wallet.avif" alt="">
            <p>WALLET </p>
            <p>Rs.1299</p>
            <button class="button" onclick="addtocart('assets/Leather-Plain-Bi-Fold-Wallet.avif','WALLET',1299)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/feat-cool-mens-accessories.jpg " alt="">
            <p>SUN GLASS</p>
            <p>Rs.2899</p>
            <button class="button" onclick="addtocart('assets/feat-cool-mens-accessories.jpg','SUN GLASS',2899)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/43-The-band-bracelet_63207c8b08da9.jpeg" alt="">
            <p>BAND </p>
            <p>Rs.999</p>
            <button class="button" onclick="addtocart('assets/43-The-band-bracelet_63207c8b08da9.jpeg','BAND',999)">add to cart</button>
        </div>
        

        <div class="card">
            <img src="../assets/OIP.webp" alt="">
            <p>BRACELET</p>
            <p>Rs.1999</p>
            <button class="button" onclick="addtocart('assets/OIP.webp','BRACELET',1999)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/OIP (1).webp" alt="">
            <p>STYLE SILVER WATCH</p>
            <p>Rs.2999</p>
            <button class="button" onclick="addtocart('assets/OIP (1).webp','STYLE SILVER WATCH',2999)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/7d548e27-01f0-43a9-bcd7-afe71f6472b1.91a7d5c8991278afc7d5fd64afcd8cd0.webp" alt="">
            <p>COOLING GLASSES</p>
            <p>Rs.3999</p>
            <button class="button" onclick="addtocart('assets/7d548e27-01f0-43a9-bcd7-afe71f6472b1.91a7d5c8991278afc7d5fd64afcd8cd0.webp','COOLING GLASSES',3999)">add to cart</button>
        </div>
        </div>
        <div class="last">

        <div class="card">
            <img src="../assets/PERFUME.webp" alt="">
            <p>DYNAMIC PERFUME</p>
            <p>Rs.2499</p>
            <button class="button" onclick="addtocart('assets/PERFUME.webp','DYNAMIC PERFUME',2499)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/CAP.avif" alt="">
            <p>CAP</p>
            <p>Rs.999</p>
            <button class="button" onclick="addtocart('assets/CAP.avif','CAP',999)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/WOMEN SHOES.avif" alt="">
            <p>CASUAL SHOE FOR WOMEN</p>
            <p>Rs.2299</p>
            <button class="button" onclick="addtocart('assets/WOMEN SHOES.avif','CASUAL SHOE FOR WOMEN',2299)">add to cart</button>
        </div>
        

        <div class="card">
            <img src="../assets/EARING.webp" alt="">
            <p>EARINGS</p>
            <p>Rs.2799</p>
            <button class="button" onclick="addtocart('assets/EARING.webp','EARINGS',2799)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/brace women.webp" alt="">
            <p>BRACELET FOR WOMEN</p>
            <p>Rs.4399</p>
            <button class="button" onclick="addtocart('assets/brace women.webp','BRACELET FOR WOMEN',4399)">add to cart</button>
        </div>

        <div class="card">
            <img src="../assets/android watch.webp" alt="">
            <p>ANDROID WATCH</p>
            <p>Rs.1499</p>
            <button class="button" onclick="addtocart('assets/android watch.webp','ANDROID WATCH',1499)">add to cart</button>
        </div>
        </div>
        <div id="your cart">
            <p> Cart is empty</p>
        <script>
                let cartitems = [];
                function addtocart(image, name, price) {
                    cartitems.push({image, name, price : Number(price)});
                    updatecart();
                }
                function updatecart() {
                    let cart = document.getElementById("your cart");
                    if (cartitems.length === 0) {
                        cart.innerHTML = 'cart is empty';
                        return;
                    }
                    let total = 0;
                    let html = '';
                    cartitems.forEach(item  => {
                        html += `
                            <div class="cart-item">
                                <img src="../${item.image}" alt="${item.name}" style="width: 200px; height: 200px;">
                                <span>${item.name} - $${item.price}</span>
                            </div>
                        `;
                    total += item.price;
                        });
                        html += `<div class="cart-total"><strong>Total: $${total}</strong></div>`;
                        cart.innerHTML = html;
                    }
                </script>

</body>
</html>