<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><link rel="stylesheet" href="../css/aio.css">
</head>
<body> 

    <nav>
        

        <img src="../assets/parrot.jpg" alt="">
        
        <h1>PUVANESWAR</h1>
        </div>

        <div class="b">

        <a href="">form</a>
        <a href="">card</a>
        <a href="">table</a>
        </div>
    </nav>

    <div class="c">
    <h1>REGISTRATION FORM</h1>
    </div>
    <section id="name">
    <form>
        <label for="name">name:</label>
        <input type="text"id="name"name="name"placeholder="enter your name"><br><br>

        <label for="age">age:</label>
        <input type="text"id="age"age="age"placeholder="enter your age"><br><br>

        <label for="email">email:</label>
        <input type="text"id="email"email="email"placeholder="enter your mail"><br><br>
 
        <button>submit</button>
    </form>
    </section>

    <div class="cardcreation">
        <h1>CARD CREATION</h1>
    </div>

    <div class="allcards">

    <div class="card">
    <img src="../assets/07.avif" alt="">
    <p>dhoni</p>
    <p>cricketer</p>
    <p>india</p>
    </div>

    <div class="card">
        <img src="../assets/1970 Ford Mustang Boss 302.jpg" alt="">
        <p>mustang</p>
        <p>1970</p>
    </div>

    <div class="card">
       <img src="../assets/avengers-hd-n46ustf69mbhzv2r.jpg" alt="">
       <p>avengers</p>
       <p>marvel</p>
    </div>

    <div class="card">
     <img src="../assets/continental-gt-right-side-view-15.webp" alt="">
    <p>650</p>
       <p>continental</p>
       <p>royal enfield</p>
    </div>

    <div class="card">
        <img src="../assets/parrot.jpg" alt="">
        <p>parrot</p>
        <p>italian</p>
    </div>

    <div class="card">
        <img src="../assets/wp4079759.jpg" alt="">
        <p>macaw</p>
        <p>parrot</p>
    </div>

    </div>

    <h1>TABLE</h1>

    <table>
        <thead>
            <tr>
            <th>SPORTS</th>
            <th>GAMES</th>
            <th>FOODS</th>
            </tr>
        

        <tbody>
            <tr>
                <td>CRICKET</td>
                <td>FREE FIRE</td>
                <td>BIRIYANI</td>
            </tr>
            <tr>
                <td>FOOD BALL</td>
                <td>PUBG</td>
                <td>PAROTTA</td>
            </tr>
            <tr>
                <td>BASE BALL</td>
                <td>SUBWAY SURFERS</td>
                <td>ALOO PARATHA</td>
            </tr>
        </tbody>
        </thead>
    </table>
 


    

</body>
</html>