<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>;<link rel="stylesheet" href="../css/biodata.css">
</head>
<body>
    <h1>BIODATA</h1>

    <div class="total">
    <div class="leftside">
    <h2>NAME</h2>
    <h2>AGE</h2>
    <h2>EMAIL</h2>
    <h2>PH NO</h2>
    <h2>ADDRESS</h2>
    </div>
    <div class="center">
        <h2>:</h2>
        <h2>:</h2>
        <h2>:</h2>
        <h2>:</h2>
        <h2>:</h2>
    </div>

    <div class="rightside">
        <h2>PUVANESWAR M</h2>
        <h2>21</h2>
        <h2>puvaneswar572@gmail.com</h2>
        <h2>9042509081</h2>
        <h2>11c,middle street,chennai</h2>
    </div>
    </div>
</body>
</html>