<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><link rel="stylesheet" href="../css/new.css">
</head>
<body>
    <form>
    <input type="text"id="value"placeholder="enter value">
    <button type="button" onclick="calculate()">factorial</button>
    <div id="result"></div>
    </form>
    <script>
        function calculate(p){
            let a=parseInt(document.getElementById('value').value);
            let result=1;
            for(let i=1;i<=a;i++){
                result*=i;
            }
            document.getElementById("result").innerHTML= `result: ${result}`;

        }
        
    </script>
    
</body>
</html>