<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><link rel="stylesheet" href="../css/test.css">
</head>
<body>

    <nav>
        <img src="../assets/OIP.webp" alt="">
        <h1>TEST</h1>
        <div class="a">
            <button>more</button>
           
            <div class="b">
                <a href="#FORM">FORM</a>
                <a href="../html/biodata.html">BIODATA</a>
                <a href="#CARD">CARD</a>
                <a href="#TABLE">TABLE</a>
            </div>
             </div>
    </nav>


    <section id="FORM">
    <h1>REGISTRATION FORM</h1>
    
    <form>

        <label for="name:">name:</label>
        <input type="text"id="name"name="name"placeholder="enter your name"><br><br>
        <label for="email:">email:</label>
        <input type="text"id="email"email="email"placeholder="enter your mail"><br><br>
        <label for="ph no:">ph no:</label>
        <input type="text"id="ph no"age="ph no"placeholder="enter your ph no"><br><br>
        <label for="address:">address:</label>
        <input type="text"id="address"address="address"placeholder="enter your address">
        <div class="button"></div>
        <button>submit</button>
        <button>signin</button>
        </div>
        
    </form>
    </section>
    <section id="CARD">

    <h1>CARD CREATION</h1>

    <div class="cardcontainer">
     
        <div class="card">
            <img src="../assets/1970 Ford Mustang Boss 302.jpg" alt="">
            <p>FORD</p>
            <p>MUSTANG</p>
            <p>1970</p>
            <button>submit</button>
        </div>
        <div class="card">
            <img src="../assets/continental-gt-right-side-view-15.webp" alt="">
            <p>GT 650</p>
            <p>CONTINENTAL</p>
            <p>RE</p>
            <button>submit</button>
        </div>

        <div class="card">
            <img src="../assets/ninja.jpg" alt="">
            <p>NINJA</p>
            <p>H2R</p>
            <p>KAWASAKI</p>
            <button>submit</button>
        </div>
        <div class="card">
            <img src="../assets/roles royce.webp" alt="">
            <p>ROLES ROYCE</p>
            <p>RICHEST CAR</p>
            <p>1980</p>
            <button>submit</button>
        </div>
        <div class="card">
            <img src="../assets/thor.jpg" alt="">
            <p>JEEP</p>
            <p>THOR</p>
            <p>BLACK</p>
            <button>submit</button>
        </div>

        <div class="card">
            <img src="../assets/kejama14_A_hyper-realistic_portrait_of_a_majestic_lion_his_mane_706613bd-60ea-413d-88e5-d10b00d8176f-6512aae024957-png__700.jpg" alt="">
            <p>LION</p>
            <p>NATIONALITY</p>
            <p>INDIA</p>
            <button>submit</button>
        </div>

        </section>
    </div>

    <section id="TABLE">
    <h1>TABLE</h1>

    <table>
        <thead>
            <tr>
                <th>BIKE</th>
                <th>CAR</th>
                <th>FOOD</th>
            </tr>
            <tbody>
                <tr>
                    <td>MT-15</td>
                    <td>AUDI</td>
                    <td>BIRIYANI</td>
                </tr>
                <tr>
                    <td>DUKE</td>
                    <td>BMW</td>
                    <td>PAROTTA</td>
                </tr>
                <tr>
                    <td>BMW</td>
                    <td>THOR</td>
                    <td>DOSA</td>
                </tr>
            </tbody>
        </thead>
    </table>
    </section>
    <footer>@all copy rights are reserved</footer>

    
</body>
</html>