nav{
    justify-content: space-between;
    background-color: rgb(248, 247, 244);
    display: flex;
    height: 80px;
    align-items: center;
    box-shadow: rgba(0,0,0,0.1);
}
.navleft{
    display: flex;
}
.navright{
    padding: 20px;
}
.navleft h1{
    padding-right: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.navheading{
    display: flex;
}
.navheading h2{
    padding-right: 20px;
    font-size: 15px;
    text-decoration: underline;
    padding-top: 20px;
}
.navmiddle input{
    width: 300px;
}
body{
    padding: 0px;
    margin: 0px;
}
h3{
    padding-left: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.card img{
    height: 40vh;
    width: 190px;
    padding-top: 30px;
    padding-right: 50px;
}
.cardtop{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 50px;
}
.card{
    background-color: rgb(239, 242, 243);
    height: 60vh;
    padding-left: 50px;
    border-radius: 8px;
}
/*.card button{
    border: none;
    padding: 10px 85px;
    background-color: antiquewhite;
    border-radius: 8px;
}*/
footer{
    background-color: rgb(90, 72, 72);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.mid{
     display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 50px;
}
.last{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 50px;
}
/* From Uiverse.io by mrhyddenn */ 
button {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  margin-left: 30px;
}

span {
  display: inline-block;
  transform: skew(21deg);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: #fff;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}