nav{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    background-color: silver;
    border-radius: 7px;
}
nav img{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.b a{
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.c h1{
    text-align: center;
    margin-top: 40px;
    padding: 100px;
}
form{
    width: 500px;
    padding: 10px;
    background-color: bisque;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form button{
    background-color: pink;
    border: none;
    padding: 5px 5px;
    border-radius: 7px;
}
.cardcreation h1{
    text-align: center;
}
.card{
    padding: 40px;
}
.allcards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding: 40px;
    background-color: deeppink;
}
.card{
    padding: 40px;
    text-align: center;
    height: 30vh;
    background-color: bisque;
    box-shadow: 10px 5px 10px 5px;
}

.card img{
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
}
table{
    box-shadow: 0.2px 2px rgba(red, green, blue, alpha);
    width: 100%;
    background-color: black;
}
th,td{
    text-align: center;
    background-color: salmon;
    padding: 15px;
}
h1{
    text-size-adjust: 50px;
    text-align: center;
}