h6{
    color: black;
    text-align: center;
}
h2{
    color: chartreuse;
}
h3{
    color: deepskyblue;
    text-align: center;
}
h4{
    color: orangered;
}
h5{
    color: firebrick;
    text-align: center;
}
h6{
    color: hotpink;
}