form{
    text-align: center;
    font-size: 20px;
}
input{
    width: 300px;
    height: 25px;
}
button{
    padding: 15px 35px;
    background-color: rgb(84, 111, 230);
    border: none;
    border-radius: 7px;
    color: white;
}
h1{
    text-align: center;
    padding-bottom: 60px;
}